.footer{
    height:100px;
    width:100vw;
    bottom: 0;
    position:fixed;
    background-color: lightslategray;
}
.contact-details{
    margin-right:10px;
    margin-top:10px;
}
.logo{
    margin-top:10px;
    margin-left:10px;
}